@model PRG4_M6_P1_KEL6.Models.Pengumuman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pengumuman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPengumuman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPengumuman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisPengumuman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisPengumuman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsiPengumuman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsiPengumuman)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
