@model IEnumerable<PRG4_M6_P1_KEL6.Models.User>

@{
    ViewData["Title"] = "Pengguna";
}

<h2>Dashboard > Pengguna</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="card-body">
    <h4 class="card-title">Data Pengguna</h4>

    <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        Nama
                    </th>
                    <th>
                        Alamat
                    </th>
                    <th>
                        Nomor Telepon
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alamat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoTelp)
                        </td>
                        <td>
                            @if (item.Status == 0)
                            {
                                <p>Tidak Aktif</p>
                            }
                            else if (item.Status == 1)
                            {
                                <p>Aktif</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-rounded btn-fw" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square"></i></a>
                            <a class="btn btn-info btn-rounded btn-fw" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a>
                            <a class="btn btn-danger btn-rounded btn-fw" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>