@model IEnumerable<PRG4_M6_P1_KEL6.Models.DataPetuga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTelp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTelp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
