@model IEnumerable<PRG4_M6_P1_KEL6.Models.DataPetuga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<div class="card-body">
    <h4 class="card-title">Data Petugas</h4>
    @*<p class="card-description">
    Add class <code>.table</code>
    </p>*@
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nim
                    </th>
                    <th>
                        Nama
                    </th>
                    <th>
                        Prodi
                    </th>
                    <th>
                        NoTelp
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prodi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoTelp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Nim" class="btn btn-info btn-rounded btn-fw">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Nim" class="btn btn-info btn-rounded btn-fw">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Nim" class="btn btn-info btn-rounded btn-fw">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
